.container1 {
    display: grid;
    grid-template-columns: 200px 75px;
}
.container2 {
    display: grid;
    grid-template-columns: 50px 1fr 75px;
}
.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}
.friends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.friend {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
.profilePhoto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.profileName span {
    font-weight: 700;
}
.mutualFriends {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.mutualFriends img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
}
.mutualFriends span {
    color: gray;
}
.addFriend button {
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    background-color: rgb(12, 114, 183);
    color: white;
    cursor: pointer;
    margin: 8px;
}