#first {
    width: 200px;
    border-radius: 20px;
}
#second {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
#third {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
}
#search {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
#shadow {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
}
p {
    font-family: Arial;
    margin: 0;
    color: rgb(100, 100, 100);
}
#linkedin {
    margin-top: 10px;
    margin-bottom: 18px;
    width: 400px;
}
#agree {
    margin-top: 20px;
    width: 400px;
    font-size: 20px;
    padding: 16px;
    border-radius: 50px;
    border: none;
    background-color: rgb(10, 102, 194);
    color: white;
}
#label {
    font-size: 16px;
}
#profile {
    width: 50px;
    height: 50px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 25px;
}
#text-box {
    vertical-align: middle;
    border: none;
    font-size: 18px;
}
#tweet {
    background-color: rgb(29, 155, 240);
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}