body {
    font-family: Arial;
}
.friend {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    display: inline-block;
    border-radius: 2px;
    margin: 10px;
}
.profilePhoto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.profileName span {
    font-weight: 700;
}
.mutualFriends img {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    vertical-align: middle;
    margin: 2px 8px;
}
.mutualFriends span {
    color: rgb(83, 83, 83);
}
.addFriend button {
    padding: 10px 16px;
    border-radius: 5px;
    border: none;
    background-color: rgb(12, 114, 183);
    color: white;
    cursor: pointer;
    margin: 8px;
}