.blue {
    background-color: aquamarine;
}
.pink {
    background-color: pink;
}
.flex1 {
    display: flex;
    height: 60px;
}
.f1b1 {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f1b1i1 {
    background-color: black;
    color: white;
}
.f1b2 {
    width: 200px;
}
.flex2 {
    display: flex;
    height: 60px;
}
.f2b1 {
    width: 100px;
}
.f2b2 {
    width: 200px;
}
.f2b2i2 {
    display: flex;
    justify-content: space-between;
}
.f2b2i2r1, .f2b2i2r2 {
    background-color: black;
    color: white;
}
.inbox {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 500px;
    padding-bottom: 20px;
}
.inboxTitle {
    color: gray;
    padding: 10px;
    font-size: 14px;
}
.message {
    display: flex;
    align-items: center;
    margin: 20px;
}
.profilePicture img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
}
.content {
    margin-left: 20px;
    flex: 1;
}
.title {
    display: flex;
    justify-content: space-between;
}
.heading {
    font-weight: 700;
    margin-bottom: 2px;
}
.time {
    color: gray;
}
.subHeading {
    font-weight: 600;
}
.messageContent {
    color: gray;
}
p {
    margin: 0;
}
.tweet {
    display: flex;
    width: 450px;
    padding: 10px;
}
.tweetContent {
    margin-left: 10px;
}
.user {
    font-weight: 700;
}
.user span {
    font-weight: 500;
    color: gray;
}
.tweetAttatchment {
    display: flex;
    border: 1px solid gray;
    border-radius: 17px;
    margin-top: 12px;
    width: 100%;

}
.attatchmentPicture {
    width: 200px;
    background-color: gray;
    margin: -1px;
    border-radius: 17px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.attatchmentContent {
    margin-left: 12px;
    padding: 12px;
}
.attatchmentHeading {
    color: gray;
    margin-bottom: 5px;
}