.close {
    background-color: black;
    color: white;
    padding: 10px 16px;
    border-radius: 20px;
    position: absolute;
    top: -20px;
    left: -20px;
}
.box {
    width: 320px;
    height: 180px;
    background-color: gray;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 4px;
    right: 7px;
    padding: 4px ;
    border-radius: 3px;
}
.promotion {
    position: relative;
    display: inline-block;
}
.promotion img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.off {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: black;
    color: white;
    padding: 4px 8px;
}
.cart {
    background-color: rgba(255, 255, 255, 0.55);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart button {
    padding: 10px 16px;
}