#tahoma {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 30px;
}
#deal {
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 2px;
}
#sale {
    font-family: Arial;
    font-size: 18px;
    color: red;
    font-style: italic;
    font-weight: 400;
    margin-top: 0;
}
#course {
    font-family: Verdana;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 2px;
}
#btp {
    font-family: Verdana;
    font-weight: 500;
    margin-top: 0;
    color: grey;
}
#desc {
    font-family: Verdana;
    font-size: 18px;
    font-weight: 500;
    width: 300px;
}
button {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 16px;
    border-radius: 5px;
}
#shopping {
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
#awork {
    font-family: Arial;
    text-align: center;
    font-weight: 500;
    margin-top: 0;
}
#learn {
    color: blue;
    font-family: Arial;
    text-align: center;
    margin-top: 0;
}