header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    border-bottom: 1px solid rgb(222, 222, 222);
    z-index: 1;
}
.leftSection {
    display: flex;
    align-items: center;
}
.menu {
    height: 24px;
    padding: 24px;
}
.logo {
    height: 20px;
}
.midSection {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBar {
    height: 36px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    flex: 1;
    width: 0;
    font-size: 16px;
    padding-left: 12px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.searchIcon,
.voiceSearchIcon {
    height: 24px;
    width: 24px;
}
.searchButton {
    width: 66px;
    height: 40px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192, 192);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.voiceSearchButton {
    height: 40px;
    width: 40px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightSection {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.rightSection img {
    height: 24px;
}
#myChannel {
    height: 30px;
    border-radius: 15px;
    margin-right: 20px;
}
