nav {
    width: 75px;
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    background-color: white;
}
.sidebarButton {
    font-size: 10px;
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}
.sidebarButton:hover {
    background-color: rgb(240, 240, 240);
}
.sidebarButton img {
    height: 24px;
    margin-bottom: 5px;
}
