.tooltipContent {
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchButton .tooltip,
.voiceSearchButton .tooltip,
.tooltipContent .tooltip {
    background-color: gray;
    width: fit-content;
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: -35px;
    padding: 4px 8px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}
.searchButton:hover .tooltip,
.voiceSearchButton:hover .tooltip,
.tooltipContent:hover .tooltip {
    opacity: 1;
}
.channelPhoto .image {
    position: relative;
}
.tooltip {
    display: flex;
    position: absolute;
    bottom: -100px;
    align-items: center;
    padding: 15px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    z-index: 1;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
}
.channelPhoto:hover .tooltip {
    opacity: 1;
}
.tooltipImage img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 15px;
}
.tooltip p {
    margin: 0;
    margin-top: 10px;
    color: rgb(90, 90, 90);
}
.tooltip span {
    font-weight: 700;
}
