.videoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 20px;
}
@media (max-width: 750px) {
    .videoGrid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px) and (max-width: 999px) {
    .videoGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1000px) {
    .videoGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
