.videoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 20px;
}
.thumbnail {
    margin-bottom: 12px;
}
.thumbnail img {
    width: 100%;
}
.videoInfo {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.title {
    font-weight: 500;
    font-size: 16px;
    margin-top: 0;
    line-height: 20px;
}
.author, .data {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin: 0;
}
.author {
    margin-bottom: 4px;
}
.channelPhoto img {
    width: 40px;
    border-radius: 25px;
}